node_modules
.env
/generated/prisma
/infrastructure/database/orm/generated/prisma/internal
/infrastructure/database/orm/generated/prisma/browser.ts
/infrastructure/database/orm/generated/prisma/enums.ts
/infrastructure/database/orm/generated/prisma/commonInputTypes.ts
/infrastructure/database/orm/generated/prisma/client.ts
